body {
    margin: 16px;
}


.nav-secundary {
    display: none;
    visibility: hidden;
}


.hero {
    display: block;
}

.spreader-bar {
    margin-top: 10px;
    margin-bottom: 20px;
}

.container-title {
    font-size: 1.6rem;
    margin-top: 30px;
}

.menu-section {
    display: block;

}

.container {
    display: flex;
    flex-direction: column;

}

.container-txt {
    width: 100%;
    font-size: 1rem;
}

.content-section,
.content-section2,
.content-section3 {
    height: 100vh;
}
.content-flex svg {
    width: 30px;
}
.content-title {
    font-size: 1.8rem;
    margin-top: 12px;
}

.content-txt{
    font-size: 1rem;
    width: 100%;
}

.content-img  {
    text-align: center;
}
.content-img img {
    margin-top: 20px;
    width: 200px;
    height: 200px;
}


.contact-form, 
.contact-details, 
.social-media {
    padding: 0;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.social-media-title{
    text-align: center;
}

.footer-title {
    display: none;
}